* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif, arial;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 800px;
}

.instagram-logo {
    height: 48px;
}

.profile_photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile_photo img {
    height: 112px;
}


.instagram-continue {
    display: flex;
    align-items: center; /* horizontal porcausa do flex-direction: column;*/
    justify-content: space-around; /* vertical porcausa do flex-direction: column; */
    flex-direction: column;
    width: 50%;
    min-height: 544px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 21px 0;
    border: 1px solid lightgrey;
}

.group:nth-child(1) {
    min-height: 304px;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 16px;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 21px 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 16px;
}

.app-download {
    height: 48px;
    width: 160px;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url("/home/rsouza/Documentos/HTML5_FlexBox/img/apple_button.png");
}

.app-download:nth-child(2) {
    background-image: url("/home/rsouza/Documentos/HTML5_FlexBox/img/googleplay_button.png");
}




/* media queries */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {

    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}


